*.o
*~
*.pdb
*.deb
*.moc
*.cubin
moc_*.cpp
ui_mainwindow.h
*.wav
*.ogg
*.orig
*.remote
/sonicawe
/sonicawe-cuda
/sonicawe-reader
/sonicawe-reader-cuda
*.user
Makefile
Makefile.Debug
Makefile.Release
selected_tone.m
qtc-gdbmacros
*.xcodeproj
Info.plist
build
tmp
*.vcproj
debug
release
*.idb
*.ncb
*.dll
*.dsp
qrc_icon-resources.cpp
md5sums
*.gz
*.so*
project_header.h.cpp
*.log
*.zip
*.app
*.a
*setup.exe
image_works
*.nsi.backup
*.dylib
*.sln.cache
*.suo
.DS_Store
*.autosave
.qmake.cache
