[submodule "3rdparty/ios"]
	path = 3rdparty/ios
	url = git@github.org:gustafsson/freq-ios.git
[submodule "3rdparty/windows"]
	path = 3rdparty/windows
	url = git@github.org:gustafsson/freq-windows.git
[submodule "3rdparty/ubuntu"]
	path = 3rdparty/ubuntu
	url = git@github.org:gustafsson/freq-ubuntu.git
[submodule "tests/integration"]
	path = tests/integration
	url = git@github.org:gustafsson/freq-integration.git
