[Desktop Entry]
Name=Sonic AWE, record from mic
GenericName=Sound Visualizer
Comment=Record and visualize audio files

Icon=sonicawe

Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;

Exec=sonicawe --record
StartupNotify=false
Terminal=false
MimeType=
